@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.about-me-child {
  position: absolute;
  top: 316px;
  left: 692px;
  width: 278px;
  height: 291px;
  display: none;
}
.about-me-item {
  position: absolute;
  right: 0;
  bottom: -112px;
  width: 280px;
  height: 4562px;
  display: none;
}
.about-me-inner {
  position: absolute;
  top: 2121px;
  left: -220px;
  width: 1688px;
  height: 250px;
  object-fit: contain;
  opacity: 0;
}
.about-me-inner.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.group-child {
  position: absolute;
  top: 1px;
  left: 2px;
  border-radius: var(--br-3xs);
  background-color: #fe7160;
  width: 354px;
  height: 73px;
}
.about-me1 {
  position: absolute;
  top: 0;
  left: 75px;
}
.group-inner,
.group-item {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-10xs);
  width: 73.6px;
  height: 60px;
}
.group-inner {
  top: 27px;
  left: 26.9px;
  width: 48.1px;
  height: 40px;
}
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 356px;
  height: 74px;
}
.group-parent,
.name-icon {
  position: absolute;
  top: 90px;
  left: 51px;
  width: 633px;
  height: 321px;
}
.group-parent {
  top: 205px;
  left: 46px;
  width: 684px;
  height: 411px;
  display: none;
  font-size: 50px;
}
.header-child,
.header-item,
.rectangle-div {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 1382.8px;
  height: 134.6px;
}
.header-item,
.rectangle-div {
  top: 0;
  left: 18.2px;
}
.rectangle-div {
  left: 0;
  background-color: var(--color-steelblue-300);
  width: 140.2px;
  height: 34.2px;
}
.contacts {
  position: absolute;
  top: 1px;
  left: 23.5px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  width: 121px;
  height: 30.7px;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 80px;
  left: 1218.9px;
  width: 144.5px;
  height: 34.2px;
}
.rectangle-container:hover,
.rectangle-group:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.header-inner,
.projects {
  position: absolute;
  top: 89.7px;
  left: 18.3px;
  width: 50.9px;
  height: 37.7px;
}
.projects {
  top: 2px;
  left: 27.2px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  width: 113.1px;
  height: 31px;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 80px;
  left: 1062.9px;
  width: 140.3px;
  height: 34.2px;
}
.aldjon-cayl-p,
.bitacdc {
  position: absolute;
  top: 82px;
  left: 68.5px;
  display: inline-block;
  width: 126.9px;
  height: 52px;
}
.aldjon-cayl-p {
  top: 16px;
  left: 24.5px;
  font-size: var(--font-size-36xl);
  color: var(--color-steelblue-300);
  width: 637.4px;
  height: 82px;
}
.header {
  position: absolute;
  top: 27px;
  left: 10px;
  width: 1401px;
  height: 157.6px;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-gray);
  font-family: var(--font-oswald);
}
.header.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.projects-child,
.projects-item {
  position: absolute;
  top: 29px;
  left: 36.7px;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-300);
  width: 827.7px;
  height: 379px;
}
.projects-item {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.dice-hard-was {
  margin: 0;
}
.dice-hard-was-container {
  position: absolute;
  top: 106px;
  left: 60.1px;
  display: inline-block;
  width: 776.7px;
}
.projects1 {
  position: absolute;
  top: 2674px;
  left: 175px;
  width: 864.4px;
  height: 408px;
  color: var(--color-black);
}
.dicehard-child,
.dicehard-item {
  position: absolute;
  top: 34px;
  left: 36.7px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 381.2px;
  height: 602px;
}
.dicehard-item {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.screenshot-2024-01-18-174443-1 {
  position: absolute;
  top: 20px;
  left: 25.5px;
  width: 326.2px;
  height: 566px;
  object-fit: cover;
}
.dicehard {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2385px;
  left: 984.3px;
  width: 417.9px;
  height: 636px;
  opacity: 1;
}
.dicehard.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.dicehard:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.dicee-child,
.group-child2 {
  position: absolute;
  top: 12px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 589.2px;
  height: 137px;
  opacity: 1;
}
.dicee-child.animate,
.group-child2.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.group-child2 {
  top: 0;
  background-color: var(--color-steelblue-200);
}
.dicehard1 {
  position: absolute;
  top: 21px;
  left: 153.9px;
  display: inline-block;
  width: 281.3px;
}
.group-div {
  position: absolute;
  top: 0;
  left: 18.3px;
  width: 589.2px;
  height: 137px;
  cursor: pointer;
}
.group-div:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.dicee {
  position: absolute;
  top: 2539px;
  left: 33px;
  width: 607.5px;
  height: 149px;
  font-size: var(--font-size-46xl);
}
.group-child3 {
  position: absolute;
  top: 121px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
  width: 758.4px;
  height: 161px;
}
.lance-atendido-matthew-container,
.my-group-members {
  position: absolute;
  top: 179px;
  left: 101.9px;
  display: inline-block;
  width: 361.9px;
}
.my-group-members {
  top: 129px;
  left: 24.5px;
  font-size: var(--font-size-16xl);
  width: 307.8px;
}
.b4f55c1e-39d8-4605-b326-e97cb1-icon {
  position: absolute;
  top: 6px;
  left: 417.9px;
  width: 254.8px;
  height: 330px;
  object-fit: cover;
}
.d50d9-831e-4688-9443-bd67de2bb-icon {
  position: absolute;
  top: 0;
  left: 323.1px;
  width: 243.6px;
  height: 358px;
  object-fit: cover;
}
.about-me-inner1,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 758.4px;
  height: 358px;
}
.about-me-inner1 {
  top: 2866px;
  left: 538.9px;
  opacity: 1;
}
.about-me-inner1.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.group-child4 {
  position: absolute;
  top: 912px;
  left: 11.2px;
  background-color: var(--color-steelblue-100);
  width: 1492.3px;
  height: 752px;
}
.httpsgithubcombitacdc {
  text-decoration: none;
  position: absolute;
  top: 1288px;
  left: 217.1px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 538.2px;
  cursor: pointer;
}
.httpsgithubcombitacdc:hover {
  color: #c9c9c9;
}
.cloud-night-1-1,
.cloud-night-2-1,
.cloud-night-3-1 {
  position: absolute;
  top: 0;
  left: 12.2px;
  width: 1491.3px;
  height: 727px;
  object-fit: cover;
}
.cloud-night-1-1,
.cloud-night-2-1 {
  top: 152px;
  left: 0;
}
.cloud-night-1-1 {
  top: 93px;
  height: 845px;
}
.httpswwwfacebookcomaldjo {
  text-decoration: none;
  position: absolute;
  top: 1151px;
  left: 217.1px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 906.2px;
  cursor: pointer;
}
.httpswwwfacebookcomaldjo:hover {
  color: #afafaf;
}
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1503.5px;
  height: 1664px;
  opacity: 0;
}
.rectangle-parent2.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.group-frame,
.icon,
.wrapper {
  position: absolute;
  width: 123px;
  height: 123px;
}
.wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
}
.wrapper:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.group-frame {
  top: 1232px;
  left: 72px;
}
.contacts1 {
  position: absolute;
  top: 799px;
  left: 77.5px;
  font-size: 80px;
}
.aldjoncayldelacruzgmailcom {
  text-decoration: none;
  position: absolute;
  top: 1046px;
  left: 217.5px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 589px;
  cursor: pointer;
}
.facebook-icon-2013-1,
.image-4-icon {
  position: absolute;
  top: 991px;
  left: 83px;
  width: 116px;
  height: 89px;
  object-fit: cover;
}
.facebook-icon-2013-1 {
  top: 1113px;
  left: 72px;
  width: 127px;
  height: 109px;
}
.group-container {
  position: absolute;
  top: 2969px;
  left: -32px;
  width: 1503.5px;
  height: 1664px;
  font-size: var(--font-size-26xl);
}
.star-bg-icon {
  position: absolute;
  top: -5px;
  left: -360px;
  width: 1061.3px;
  height: 1012.5px;
  object-fit: contain;
  opacity: 1;
}
.star-bg-icon.animate {
  animation: 1s ease 0s 1 normal forwards pulsate;
}
.img-20240119-094507-removebg-p-icon {
  position: absolute;
  top: 117px;
  left: -21px;
  width: 631.1px;
  height: 738.1px;
  object-fit: cover;
  opacity: 0;
}
.cloud-img.animate,
.group-parent1.animate,
.img-20240119-094507-removebg-p-icon.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.group-child5 {
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-500);
  width: 184px;
  height: 51px;
}
.games {
  position: absolute;
  top: 0;
  left: 34px;
  display: inline-block;
  width: 155.6px;
  height: 70px;
}
.rectangle-parent3 {
  top: 1008px;
  left: 171px;
  width: 189.6px;
  font-size: var(--font-size-21xl);
}
.music,
.rectangle-parent3,
.rectangle-parent4 {
  position: absolute;
  height: 70px;
}
.music {
  top: 0;
  left: 38px;
  display: inline-block;
  width: 155.6px;
}
.rectangle-parent4 {
  top: 1008px;
  left: 625px;
  width: 193.6px;
  font-size: var(--font-size-21xl);
}
.group-child7 {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-500);
  width: 228px;
  height: 51px;
}
.showsart {
  position: absolute;
  top: 0;
  left: 20px;
  display: inline-block;
  width: 217px;
  height: 70px;
}
.rectangle-parent5 {
  position: absolute;
  top: 1008px;
  left: 1093px;
  width: 237px;
  height: 70px;
  font-size: var(--font-size-21xl);
}
.cloud-night-1-11 {
  position: absolute;
  top: 48px;
  left: 15.3px;
  width: 1491.3px;
  height: 845px;
  object-fit: cover;
}
.cloud-img {
  position: absolute;
  top: 1242px;
  left: -36px;
  width: 1506.6px;
  height: 893px;
  opacity: 0;
}
.group-icon,
.i-am-aldjon {
  position: absolute;
  top: 115px;
  left: 187px;
  width: 1039px;
  height: 632px;
}
.i-am-aldjon {
  top: 341px;
  left: 247px;
  display: inline-block;
  width: 771px;
  height: 260px;
}
.group-child8 {
  position: absolute;
  top: 88px;
  left: 114px;
  border-radius: var(--br-6xl);
  background-color: var(--color-steelblue-400);
  width: 147px;
  height: 180px;
}
.c448-6a1f-4c12-b530-024079aca8-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 442px;
  height: 364px;
  object-fit: cover;
}
.group-child10,
.group-child11,
.group-child9 {
  position: absolute;
  top: 248px;
  left: 158px;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-400);
  width: 233px;
  height: 60px;
}
.group-child10,
.group-child11 {
  top: 253.5px;
  left: 168.2px;
  background-color: var(--color-steelblue-300);
  width: 52.3px;
  height: 31.1px;
}
.group-child11 {
  top: 269px;
  background-color: var(--color-white);
  width: 214.3px;
}
.group-child12,
.group-child13 {
  position: absolute;
  top: 275.1px;
  left: 178.5px;
  border-radius: var(--br-3xs);
  height: 19.8px;
}
.group-child12 {
  background-color: var(--color-black);
  width: 193.8px;
}
.group-child13 {
  background-color: #b3ffad;
  width: 152.8px;
}
.aldjon,
.hp {
  position: absolute;
  top: 244.9px;
  left: 224.6px;
  display: inline-block;
  width: 53.3px;
  height: 25.9px;
}
.hp {
  top: 253.5px;
  left: 185.6px;
  font-size: 12px;
  width: 15.4px;
  height: 15.5px;
}
.rectangle-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 442px;
  height: 364px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
.group-parent1 {
  position: absolute;
  top: 108px;
  left: 393px;
  width: 1226px;
  height: 747px;
  opacity: 0;
  color: #1b2735;
  font-family: var(--font-bitter);
}
.group-child14,
.group-child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 425px;
  height: 143px;
}
.group-child15 {
  top: 15.2px;
  left: 10.6px;
  background-color: var(--color-steelblue-400);
  width: 396.8px;
  height: 110.1px;
}
.about-me2 {
  position: absolute;
  top: 30.4px;
  left: 78px;
  display: inline-block;
  width: 270px;
  height: 103.8px;
}
.rectangle-parent7 {
  position: absolute;
  top: 218.6px;
  left: 648px;
  width: 425px;
  height: 143px;
  font-size: var(--font-size-36xl);
}
.group-child16,
.group-child17 {
  position: absolute;
  top: 12px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 872.8px;
  height: 137px;
  opacity: 1;
}
.group-child16.animate,
.group-child17.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.group-child17 {
  top: 0;
  left: 27.2px;
  background-color: var(--color-steelblue-200);
}
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 149px;
}
.things-im-passionate {
  position: absolute;
  top: 21px;
  left: 48px;
}
.dicee1,
.group-parent2 {
  position: absolute;
  left: 0;
  width: 900px;
  height: 149px;
}
.group-parent2 {
  top: 0;
  cursor: pointer;
}
.group-parent2:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.dicee1 {
  top: 855px;
  font-size: var(--font-size-46xl);
}
.group-child18 {
  top: 61.1px;
  left: 0;
  background-color: var(--color-white);
  width: 406.7px;
  height: 350.9px;
}
.grid-picture-1-icon,
.group-child18,
.group-child19 {
  position: absolute;
  border-radius: var(--br-6xl);
}
.group-child19 {
  top: 0;
  left: 23.3px;
  background-color: var(--color-khaki);
  width: 411.7px;
  height: 380.9px;
}
.grid-picture-1-icon {
  top: 9px;
  left: 57px;
  width: 345px;
  height: 345px;
  object-fit: cover;
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 435px;
  height: 412px;
}
.rectangle-parent10,
.rectangle-parent11 {
  left: 936px;
}
.rectangle-parent11 {
  left: 468px;
}
.music-1-icon,
.shows-1-icon {
  position: absolute;
  top: 17px;
  width: 345px;
  height: 345px;
  object-fit: cover;
}
.shows-1-icon {
  left: 992px;
  border-radius: var(--br-6xl);
}
.music-1-icon {
  left: 524px;
}
.group-parent3 {
  position: absolute;
  top: 1074px;
  left: 25px;
  width: 1371px;
  height: 412px;
  opacity: 1;
}
.group-parent3.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.about-me {
  width: 100%;
  height: 4450px;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
@media screen and (max-width: 960px) {
  .header {
    opacity: 0;
  }
  .header.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-top;
  }
  @keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
