@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
.about-me-child {
  position: absolute;
  top: 316px;
  left: 692px;
  width: 278px;
  height: 291px;
  display: none;
}
.about-me-item {
  position: absolute;
  right: 0;
  bottom: -112px;
  width: 280px;
  height: 4002px;
  display: none;
}
.star-bg-icon {
  position: absolute;
  top: -76px;
  left: -421px;
  width: 1546.8px;
  height: 1469.2px;
  object-fit: contain;
  opacity: 1;
}
.star-bg-icon.animate {
  animation: 1s ease 0s 1 normal forwards pulsate;
}
.img-20240119-094507-removebg-p-icon {
  position: absolute;
  top: 116px;
  left: -273px;
  width: 883.9px;
  height: 935.7px;
  object-fit: contain;
  opacity: 0;
}
.img-20240119-094507-removebg-p-icon.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.side-child {
  position: absolute;
  top: 89px;
  left: 0;
  width: 1464px;
  height: 968px;
}
.i-am-aldjon {
  margin: 0;
}
.i-am-aldjon-container {
  position: absolute;
  top: 301px;
  left: 614px;
  display: inline-block;
  width: 771px;
  height: 260px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 35.8px;
  height: 60.1px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-inner,
.group-item,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 35.8px;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 35.8px;
  height: 60.1px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-inner,
.rectangle-div {
  left: 281.5px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.rectangle-div {
  left: 317.3px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6 {
  left: 212.4px;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6 {
  left: 248.1px;
}
.group-child3,
.group-child4,
.group-child5,
.group-child6 {
  left: 140.8px;
}
.group-child4,
.group-child5,
.group-child6 {
  left: 176.6px;
}
.group-child5,
.group-child6 {
  left: 69.2px;
}
.group-child6 {
  left: 105px;
}
.rectangle-parent {
  position: absolute;
  top: 9.5px;
  left: 0;
  width: 353.1px;
  height: 60.1px;
}
.group-child7 {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 35.8px;
}
.group-child7,
.group-child8,
.group-child9 {
  position: absolute;
  top: 0;
  height: 60.1px;
}
.group-child8 {
  left: 35.8px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 35.8px;
}
.group-child9 {
  left: 281.5px;
}
.group-child10,
.group-child11,
.group-child9 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 35.8px;
}
.group-child10 {
  position: absolute;
  top: 0;
  left: 317.3px;
  height: 60.1px;
}
.group-child11 {
  left: 212.4px;
}
.group-child11,
.group-child12,
.group-child13 {
  position: absolute;
  top: 0;
  height: 60.1px;
}
.group-child12 {
  left: 248.1px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 35.8px;
}
.group-child13 {
  left: 140.8px;
}
.group-child13,
.group-child14,
.group-child15 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 35.8px;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 176.6px;
  height: 60.1px;
}
.group-child15 {
  left: 69.2px;
}
.group-child15,
.group-child16,
.rectangle-group {
  position: absolute;
  top: 0;
  height: 60.1px;
}
.group-child16 {
  left: 105px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 35.8px;
}
.rectangle-group {
  left: 7.2px;
  width: 353.1px;
}
.group-child17,
.group-child18,
.group-child19,
.group-child20,
.group-child21,
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-steelblue-300);
  width: 31px;
  height: 47.4px;
}
.group-child18,
.group-child19,
.group-child20,
.group-child21,
.group-child22 {
  left: 35.8px;
}
.group-child19,
.group-child20,
.group-child21,
.group-child22 {
  left: 105px;
}
.group-child20,
.group-child21,
.group-child22 {
  left: 176.6px;
}
.group-child21,
.group-child22 {
  left: 140.8px;
}
.group-child22 {
  left: 69.2px;
}
.rectangle-container {
  position: absolute;
  top: 6.3px;
  left: 9.5px;
  width: 207.6px;
  height: 47.4px;
}
.art,
.group-parent {
  position: absolute;
  top: 618px;
  left: 420px;
  width: 360.3px;
  height: 69.6px;
}
.art {
  top: 693px;
  left: 932px;
  font-size: var(--font-size-16xl);
  display: inline-block;
  width: 116px;
  height: 125px;
}
.c448-6a1f-4c12-b530-024079aca8-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 442px;
  height: 364px;
  object-fit: cover;
}
.group-child23,
.group-child24 {
  position: absolute;
  top: 253.5px;
  left: 168.2px;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-300);
  width: 52.3px;
  height: 31.1px;
}
.group-child24 {
  top: 269px;
  background-color: var(--color-white);
  width: 214.3px;
}
.group-child25,
.group-child26 {
  position: absolute;
  top: 275.1px;
  left: 178.5px;
  border-radius: var(--br-3xs);
  height: 19.8px;
}
.group-child25 {
  background-color: var(--color-black);
  width: 193.8px;
}
.group-child26 {
  background-color: #b3ffad;
  width: 152.8px;
}
.aldjon,
.hp {
  position: absolute;
  top: 244.9px;
  left: 224.6px;
  display: inline-block;
  width: 53.3px;
  height: 25.9px;
}
.hp {
  top: 253.5px;
  left: 185.6px;
  font-size: 12px;
  width: 15.4px;
  height: 15.5px;
}
.c448-6a1f-4c12-b530-024079aca8-parent {
  position: absolute;
  top: 0;
  left: 922px;
  width: 442px;
  height: 364px;
  font-size: var(--font-size-xl);
}
.about-me-inner,
.side {
  position: absolute;
  top: 108px;
  left: 53px;
  width: 1464px;
  height: 1057px;
  opacity: 0;
}
.about-me-inner.animate,
.side.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.about-me-inner {
  top: 1580px;
  left: -190px;
  width: 1633px;
  height: 250px;
  object-fit: contain;
}
.group-child27 {
  position: absolute;
  top: 1px;
  left: 2px;
  border-radius: var(--br-3xs);
  background-color: #fe7160;
  width: 354px;
  height: 73px;
}
.about-me1 {
  position: absolute;
  top: 0;
  left: 75px;
}
.group-child28,
.star-icon {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-10xs);
  width: 73.6px;
  height: 60px;
}
.group-child28 {
  top: 27px;
  left: 26.9px;
  width: 48.1px;
  height: 40px;
}
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 356px;
  height: 74px;
}
.group-container,
.name-icon {
  position: absolute;
  top: 90px;
  left: 51px;
  width: 633px;
  height: 321px;
}
.group-container {
  top: 205px;
  left: 46px;
  width: 684px;
  height: 411px;
  display: none;
  font-size: 50px;
}
.group-child29,
.header-child,
.header-item {
  position: absolute;
  top: 23px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 1382.8px;
  height: 134.6px;
}
.group-child29,
.header-item {
  top: 0;
  left: 18.2px;
}
.group-child29 {
  left: 0;
  background-color: var(--color-steelblue-300);
  width: 140.2px;
  height: 34.2px;
}
.contacts {
  position: absolute;
  top: 1px;
  left: 23.5px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  width: 121px;
  height: 30.7px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 80px;
  left: 1218.9px;
  width: 144.5px;
  height: 34.2px;
}
.group-button:hover,
.rectangle-parent1:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.header-inner,
.projects {
  position: absolute;
  top: 89.7px;
  left: 18.3px;
  width: 50.9px;
  height: 37.7px;
}
.projects {
  top: 2px;
  left: 27.2px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  width: 113.1px;
  height: 31px;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 80px;
  left: 1062.9px;
  width: 140.3px;
  height: 34.2px;
}
.aldjon-cayl-p,
.bitacdc {
  position: absolute;
  top: 82px;
  left: 68.5px;
  display: inline-block;
  width: 126.9px;
  height: 52px;
}
.aldjon-cayl-p {
  top: 16px;
  left: 24.5px;
  font-size: var(--font-size-36xl);
  color: var(--color-steelblue-300);
  width: 637.4px;
  height: 82px;
}
.header {
  position: absolute;
  top: 27px;
  left: 10px;
  width: 1401px;
  height: 157.6px;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-gray);
  font-family: var(--font-oswald);
}
.header.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.about-me2 {
  position: absolute;
  top: 286px;
  left: 729px;
  font-size: 70px;
}
.c,
.c1,
.python,
.stats {
  position: absolute;
  top: 576px;
  left: 524px;
  font-size: var(--font-size-36xl);
}
.c,
.c1,
.python {
  top: 669px;
  left: 495px;
  font-size: var(--font-size-16xl);
}
.c,
.c1 {
  left: 985px;
}
.c1 {
  top: 796px;
  left: 498px;
  display: inline-block;
  width: 39px;
  height: 47px;
}
.projects-child,
.projects-item {
  position: absolute;
  top: 29px;
  left: 36px;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-300);
  width: 812px;
  height: 379px;
}
.projects-item {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.dice-hard-was-container,
.projects1 {
  position: absolute;
  top: 106px;
  left: 59px;
}
.projects1 {
  top: 2016px;
  left: 215px;
  width: 848px;
  height: 408px;
  color: var(--color-black);
}
.dicehard-child,
.dicehard-item {
  position: absolute;
  top: 34px;
  left: 36px;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue-100);
  width: 374px;
  height: 602px;
}
.dicehard-item {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.screenshot-2024-01-18-174443-1 {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 320px;
  height: 566px;
  object-fit: cover;
}
.dicehard {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1727px;
  left: 1009px;
  width: 410px;
  height: 636px;
  opacity: 1;
}
.dicehard.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.dicehard:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.dicee-child,
.group-child31 {
  position: absolute;
  top: 12px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 578px;
  height: 137px;
  opacity: 1;
}
.dicee-child.animate,
.group-child31.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.group-child31 {
  top: 0;
  background-color: var(--color-steelblue-200);
}
.dicehard1 {
  position: absolute;
  top: 21px;
  left: 151px;
}
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 18px;
  width: 578px;
  height: 137px;
  cursor: pointer;
}
.rectangle-parent2:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.dicee {
  position: absolute;
  top: 1964px;
  left: 43px;
  width: 596px;
  height: 149px;
  font-size: 65px;
}
.group-child32 {
  position: absolute;
  top: 121px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-200);
  width: 744px;
  height: 161px;
}
.lance-atendido-matthew-container {
  position: absolute;
  top: 179px;
  left: 100px;
  display: inline-block;
  width: 355px;
}
.my-group-members {
  position: absolute;
  top: 129px;
  left: 24px;
  font-size: var(--font-size-16xl);
}
.b4f55c1e-39d8-4605-b326-e97cb1-icon {
  position: absolute;
  top: 6px;
  left: 410px;
  width: 250px;
  height: 330px;
  object-fit: cover;
}
.d50d9-831e-4688-9443-bd67de2bb-icon {
  position: absolute;
  top: 0;
  left: 317px;
  width: 239px;
  height: 358px;
  object-fit: cover;
}
.about-me-inner1,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 744px;
  height: 358px;
}
.about-me-inner1 {
  top: 2208px;
  left: 572px;
  opacity: 1;
}
.about-me-inner1.animate {
  animation: 1s ease 0s 1 normal forwards jello-horizontal;
}
.cloud-night-1-1,
.cloud-night-2-1,
.cloud-night-3-1 {
  position: absolute;
  top: 0;
  left: 12px;
  width: 1463px;
  height: 727px;
  object-fit: cover;
}
.cloud-night-1-1,
.cloud-night-2-1 {
  top: 152px;
  left: 0;
}
.cloud-night-1-1 {
  top: 48px;
  left: 15px;
  height: 845px;
}
.cloud-night-3-1-parent {
  position: absolute;
  top: 701px;
  left: -21px;
  width: 1478px;
  height: 893px;
  opacity: 0;
}
.cloud-night-3-1-parent.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.group-child33 {
  position: absolute;
  top: 912px;
  left: 11px;
  background-color: var(--color-steelblue-100);
  width: 1464px;
  height: 752px;
}
.httpsgithubcombitacdc {
  text-decoration: none;
  position: absolute;
  top: 1288px;
  left: 213px;
  font-weight: 700;
  color: inherit;
  cursor: pointer;
}
.httpsgithubcombitacdc:hover {
  color: #c9c9c9;
}
.cloud-night-1-11 {
  position: absolute;
  top: 93px;
  left: 0;
  width: 1463px;
  height: 845px;
  object-fit: cover;
}
.httpswwwfacebookcomaldjo {
  text-decoration: none;
  position: absolute;
  top: 1151px;
  left: 213px;
  font-weight: 700;
  color: inherit;
  cursor: pointer;
}
.httpswwwfacebookcomaldjo:hover {
  color: #afafaf;
}
.rectangle-parent4 {
  position: absolute;
  top: 2226px;
  left: -15px;
  width: 1475px;
  height: 1664px;
  opacity: 0;
  font-size: var(--font-size-26xl);
}
.rectangle-parent4.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.about-me-inner2,
.icon,
.wrapper {
  position: absolute;
  width: 123px;
  height: 123px;
}
.wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
}
.wrapper:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.about-me-inner2 {
  top: 3486px;
  left: 49px;
}
.contacts1 {
  position: absolute;
  top: 3138px;
  left: 55px;
  font-size: 80px;
}
.aldjoncayldelacruzgmailcom {
  text-decoration: none;
  position: absolute;
  top: 3272px;
  left: 198px;
  font-size: var(--font-size-26xl);
  font-weight: 700;
  color: inherit;
  cursor: pointer;
}
.facebook-icon-2013-1,
.image-4-icon {
  position: absolute;
  top: 3257px;
  left: 56px;
  width: 116px;
  height: 89px;
  object-fit: cover;
}
.facebook-icon-2013-1 {
  top: 3361px;
  left: 49px;
  width: 127px;
  height: 109px;
}
.about-me {
  position: relative;
  background-color: var(--color-gray);
  width: 100%;
  height: 3890px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
@media screen and (max-width: 960px) {
  .header {
    opacity: 0;
  }
  .header.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-top;
  }
  @keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
